---
---

// To be in shared
$site-highlight-color: #f62681

// https://www.w3schools.com/css/css_tooltip.asp

.tooltip
  position: relative
  display: inline-block
  border-bottom: 1px dashed $site-highlight-color
  color: $site-highlight-color

  .tooltiptext
    visibility: hidden
    width: 240px
    background-color: #353d5a
    color: #fff
    text-align: center
    padding: 10px
    border-radius: 6px
    border-color: #000
    position: absolute
    z-index: 1
    opacity: 0
    transition: opacity 0.3s
    left: 50%
    bottom: 100%
    margin-left: -120px // half the width

  &:hover .tooltiptext
    visibility: visible
    opacity: 1

  .tooltiptext::after
    content: " "
    position: absolute
    top: 100%
    left: 50%
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: #353d5a transparent transparent transparent
