---
---

// To be in shared
$site-highlight-color: #f62681
$tool-tip-width: 320px
$content-max-width: 1024px

.tooltip
  position: relative
  display: inline-block
  border-bottom: 1px dashed $site-highlight-color
  color: $site-highlight-color

  .tooltiptext
    visibility: hidden
    width: $tool-tip-width
    @media (max-width: $content-max-width+2*$tool-tip-width)
        width: 240px
    @media (max-width: 768px)
        width: 320px
    background-color: #353d5a
    color: #fff
    text-align: center
    padding: 10px
    border-radius: 6px
    border-color: #000
    position: absolute
    z-index: 1
    opacity: 0
    transition: opacity 0.3s
    left: 50%
    bottom: 100%
    margin-left: -$tool-tip-width/2

    @media (max-width: 768px)
        position: fixed
        bottom: auto
        top: 50%
        left: 50%

    a
        color: #fff
        text-decoration: none
        &:hover
        text-decoration: underline

  &:hover .tooltiptext
    visibility: visible
    opacity: 1

  .tooltiptext::after
    @media (min-width: 768px)
        content: " "
        position: absolute
        top: 100%
        left: 50%
        margin-left: -5px
        border-width: 5px
        border-style: solid
        border-color: #353d5a transparent transparent transparent
