---
layout: default
---

<main class="content" role="main">

    <h2>Welcome</h2>
    <p>
      This page contains summaries of papers in the field of contemplative neuroscience, written by
      me, <a href="https://www.craigmbooth.com">Craig Booth</a>.  As a lay practitioner of meditation
      and a scientist by training, I am boundlessly interested in the intersection of these
      two fields.  I hope that these summaries are as engaging and interesting to others.
    </p>

    <p>Learn more about contemplative neuroscience <a href="what-is-contemplative-neuroscience">here</a></p>

    <h5 class="index-headline featured"><span>List of Paper Summaries</span></h5>

    <div class="cf frame">
      {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.snippet }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.next_page }}>&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href={{ "/" | prepend: site.baseurl }}>Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.previous_page }}>Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>
</main>
