<!-- header start -->

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
    <div class="blog-title">{{ site.title }}</div>
    <div class="blog-subtitle">{{site.description}}</div>

    <div class="custom-links">
<!--      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %} -->

      {% for menu_item in site.menu_items %}
        <a href="{{ menu_item.url | prepend: site.baseurl }}">{{ menu_item.title }}</a>
      {% endfor %}
    </div>

  </div>
</div>

<header class="blog-header">
  <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
</header>


<!-- header end -->
