<!-- header start -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XV8N5DDQYP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XV8N5DDQYP');
</script>

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}data-bg-image="{{ site.cover | prepend: site.baseurl }}"{% endif %}>
    <h1 class="blog-title">{{ site.title }}</h1>
    <div class="blog-subtitle">{{site.description}}</div>

    <button class="menu-toggle" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="site-navigation">
      <span class="menu-icon">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
      </span>
    </button>

    <div class="custom-links" id="site-navigation" role="navigation" aria-label="Main navigation">
      {% for menu_item in site.menu_items %}
        <a href="{{ menu_item.url | prepend: site.baseurl }}" {% if page.url == menu_item.url %}aria-current="page"{% endif %}>{{ menu_item.title }}</a>
      {% endfor %}
    </div>

  </div>
</div>

<header class="blog-header">
  <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" data-bg-image="{{ site.logo | prepend: site.baseurl }}" aria-label="{{ site.title }} - Return to homepage">{{ site.title }}</a>
</header>


<!-- header end -->
