---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include research_paper_schema.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="text-center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </div>
        <br>
        {% endif %}

        {% include breadcrumbs.html %}

        <section class="post-content">
          {{content}}
          {% include subscribe.html %}
          {%- if page.citation != null -%}
            <h3>Citation</h3>
            {{page.citation|markdownify | replace: '<p>', '<p class="citation">'}}
          {%- endif -%}
        </section>
      </article>
    </main>
    {% include footer.html %}
    {% include javascripts.html %}
  </body>
</html>