---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="noarticleimage">
      <div class="post-meta">
        <h1 class="post-title">{{ page.title }}</h1>
      </div>
    </div>
    {% include breadcrumbs.html %}

    <section class="post-content">
      <div class="theme-header">
        <div class="theme-image">
          {% if page.image_format %}
            <img src="{{ site.baseurl }}/assets/images/themes/{{ page.theme_key }}.{{ page.image_format }}" alt="">
          {% else %}
            <img src="{{ site.baseurl }}/assets/images/themes/{{ page.theme_key }}.png" alt="">
          {% endif %}
        </div>
        <div class="theme-description">
          {{ page.theme_description | markdownify }}
        </div>
      </div>

      <h2>Papers in this Theme</h2>

      {% assign theme_posts = site.posts | where_exp: "post", "post.theme == page.theme_key" %}
      {% assign theme_array_posts = site.posts | where_exp: "post", "post.theme contains page.theme_key" %}
      {% assign theme_posts = theme_posts | concat: theme_array_posts | uniq %}

      {% if theme_posts.size > 0 %}
        <ul class="post-list">
          {% for post in theme_posts %}
            <li>
              <h3>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}?ref=theme&theme={{ page.theme_key }}">{{ post.title }}</a>
              </h3>
              <p>{{ post.snippet }}</p>
              <div class="post-meta citation">
                {{ post.citation | markdownify }}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No papers have been categorized in this theme yet.</p>
      {% endif %}
    </section>
  </article>
</main>